<mat-toolbar color="primary">
  <div class="d-flex justify-content-between align-items-center toolbar">
    <h3>Amazon Links</h3>
    <button aria-label="Example icon-button with menu icon" class="example-icon" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div class="container-fluid mt-4">
  <div class="row">
    <div *ngFor="let product of productsLinks" class="col-sm-12 col-md-6 mt-3">
      <mat-card>
        <mat-card-title>{{product.title}}</mat-card-title>
        <mat-card-content class="mt-5">
          <img [src]="product.imgLink" alt="" class="product-image">
        </mat-card-content>
        <mat-card-actions align="end" class="mt-5">
          <a [href]="product.link" color="accent" mat-raised-button target="_blank">Vai al link</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
